.header {
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(kanyeHome.jpg);
    background-size: cover;
    background-position:0; 
    height: 100vh;
}


.zoom {
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 100px;
    transition: transform .2s;
    width: 700px;
    height: 100px;
    color: gold;
    margin: 0 auto;
    
}
.zoom:hover {
    -webkit-transform: scale(1.5);
}

.description {
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    top: 60%;
    left: 10%;
    font-size: 17px;
    color: gold;
}

.buttons-layout {
    position: absolute;
    bottom: 60%;
    left:60%;
}