.titles {
    text-align: center;
    margin-right: auto;
    margin-left:auto;
}
  
  /* Make the image responsive */
  /*.container {
      width: 100%;

  } */
  .container .massive.ui.button {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    -ms-transform: translate(-50%, -30%);
    
  }
   .buttonclass .massive.ui.button {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    -ms-transform: translate(-50%, -40%);
    
  }
  .info {
    padding: 2%;
    background-color: white;
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    -ms-transform: translate(-50%, -60%);

  }
  
  